Saved
.sln
Binaries
Intermediate
Intermediate/Build
Build
Plugins
.vs
Publish

IntermediateCopy/AssetRegistryCache/094e7c10.bin
IntermediateCopy/AssetRegistryCache/0a49765e.bin
IntermediateCopy/AssetRegistryCache/1d5167fa.bin
IntermediateCopy/AssetRegistryCache/1e9e6269.bin
IntermediateCopy/AssetRegistryCache/2657c409.bin
IntermediateCopy/AssetRegistryCache/26b732ab.bin
IntermediateCopy/AssetRegistryCache/29c3675e.bin
IntermediateCopy/AssetRegistryCache/30e2b9c2.bin
IntermediateCopy/AssetRegistryCache/311563bb.bin
IntermediateCopy/AssetRegistryCache/44c3f9c9.bin
IntermediateCopy/AssetRegistryCache/45a8c3e3.bin
IntermediateCopy/AssetRegistryCache/50a675f9.bin
IntermediateCopy/AssetRegistryCache/52ed2538.bin
IntermediateCopy/AssetRegistryCache/5a627529.bin
IntermediateCopy/AssetRegistryCache/6bead350.bin
IntermediateCopy/AssetRegistryCache/6eab474a.bin
IntermediateCopy/AssetRegistryCache/866581fd.bin
IntermediateCopy/AssetRegistryCache/8c0e1344.bin
IntermediateCopy/AssetRegistryCache/8e9331e2.bin
IntermediateCopy/AssetRegistryCache/94c5d5a7.bin
IntermediateCopy/AssetRegistryCache/995fc7f5.bin
IntermediateCopy/AssetRegistryCache/b283b106.bin
IntermediateCopy/AssetRegistryCache/c90e3f55.bin
IntermediateCopy/AssetRegistryCache/c9e91a3f.bin
IntermediateCopy/AssetRegistryCache/cff8f772.bin
IntermediateCopy/AssetRegistryCache/d6e8ba78.bin
IntermediateCopy/AssetRegistryCache/d7108381.bin
IntermediateCopy/AssetRegistryCache/d859983c.bin
IntermediateCopy/CachedAssetRegistry.bin
IntermediateCopy/Config/CoalescedSourceConfigs/ActorLayerUtilities.ini
IntermediateCopy/Config/CoalescedSourceConfigs/ActorSequence.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AdvancedSessions.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AdvancedSteamSessions.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AISupport.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AlembicImporter.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AndroidDeviceProfileSelector.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AndroidMedia.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AndroidMoviePlayer.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AndroidPermission.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AnimationSharing.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AppleImageUtils.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AppleMoviePlayer.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AppleVision.ini
IntermediateCopy/Config/CoalescedSourceConfigs/ArchVisCharacter.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AssetManagerEditor.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AudioCapture.ini
IntermediateCopy/Config/CoalescedSourceConfigs/AvfMedia.ini
IntermediateCopy/Config/CoalescedSourceConfigs/BackChannel.ini
IntermediateCopy/Config/CoalescedSourceConfigs/CableComponent.ini
IntermediateCopy/Config/CoalescedSourceConfigs/CharacterAI.ini
IntermediateCopy/Config/CoalescedSourceConfigs/CLionSourceCodeAccess.ini
IntermediateCopy/Config/CoalescedSourceConfigs/CodeLiteSourceCodeAccess.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Compat.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Crypto.ini
IntermediateCopy/Config/CoalescedSourceConfigs/CryptoKeys.ini
IntermediateCopy/Config/CoalescedSourceConfigs/CustomMeshComponent.ini
IntermediateCopy/Config/CoalescedSourceConfigs/DatasmithContent.ini
IntermediateCopy/Config/CoalescedSourceConfigs/DataValidation.ini
IntermediateCopy/Config/CoalescedSourceConfigs/DeviceProfiles.ini
IntermediateCopy/Config/CoalescedSourceConfigs/EditableMesh.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Editor.ini
IntermediateCopy/Config/CoalescedSourceConfigs/EditorKeyBindings.ini
IntermediateCopy/Config/CoalescedSourceConfigs/EditorLayout.ini
IntermediateCopy/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings.ini
IntermediateCopy/Config/CoalescedSourceConfigs/EditorSettings.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Encryption.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Engine.ini
IntermediateCopy/Config/CoalescedSourceConfigs/ExampleDeviceProfileSelector.ini
IntermediateCopy/Config/CoalescedSourceConfigs/FacialAnimation.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Firebase.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Game.ini
IntermediateCopy/Config/CoalescedSourceConfigs/GameplayTags.ini
IntermediateCopy/Config/CoalescedSourceConfigs/GameplayTagsEditor.ini
IntermediateCopy/Config/CoalescedSourceConfigs/GameplayTagsList.ini
IntermediateCopy/Config/CoalescedSourceConfigs/GameUserSettings.ini
IntermediateCopy/Config/CoalescedSourceConfigs/GeometryCache.ini
IntermediateCopy/Config/CoalescedSourceConfigs/GitSourceControl.ini
IntermediateCopy/Config/CoalescedSourceConfigs/GoogleCloudMessaging.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Hardware.ini
IntermediateCopy/Config/CoalescedSourceConfigs/HTML5Networking.ini
IntermediateCopy/Config/CoalescedSourceConfigs/ImgMedia.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Input.ini
IntermediateCopy/Config/CoalescedSourceConfigs/InternationalizationExport.ini
IntermediateCopy/Config/CoalescedSourceConfigs/IOSDeviceProfileSelector.ini
IntermediateCopy/Config/CoalescedSourceConfigs/KDevelopSourceCodeAccess.ini
IntermediateCopy/Config/CoalescedSourceConfigs/LauncherChunkInstaller.ini
IntermediateCopy/Config/CoalescedSourceConfigs/LevelSequenceEditor.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Lightmass.ini
IntermediateCopy/Config/CoalescedSourceConfigs/LightPropagationVolume.ini
IntermediateCopy/Config/CoalescedSourceConfigs/LinearTimecode.ini
IntermediateCopy/Config/CoalescedSourceConfigs/LinuxDeviceProfileSelector.ini
IntermediateCopy/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
IntermediateCopy/Config/CoalescedSourceConfigs/LocationServicesBPLibrary.ini
IntermediateCopy/Config/CoalescedSourceConfigs/MacGraphicsSwitching.ini
IntermediateCopy/Config/CoalescedSourceConfigs/MagicLeap.ini
IntermediateCopy/Config/CoalescedSourceConfigs/MagicLeapMedia.ini
IntermediateCopy/Config/CoalescedSourceConfigs/MaterialAnalyzer.ini
IntermediateCopy/Config/CoalescedSourceConfigs/MatineeToLevelSequence.ini
IntermediateCopy/Config/CoalescedSourceConfigs/MediaCompositing.ini
IntermediateCopy/Config/CoalescedSourceConfigs/MediaPlayerEditor.ini
IntermediateCopy/Config/CoalescedSourceConfigs/MeshEditor.ini
IntermediateCopy/Config/CoalescedSourceConfigs/MobileLauncherProfileWizard.ini
IntermediateCopy/Config/CoalescedSourceConfigs/MobilePatchingUtils.ini
IntermediateCopy/Config/CoalescedSourceConfigs/NetcodeUnitTest.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Niagara.ini
IntermediateCopy/Config/CoalescedSourceConfigs/NiagaraExtras.ini
IntermediateCopy/Config/CoalescedSourceConfigs/NullSourceCodeAccess.ini
IntermediateCopy/Config/CoalescedSourceConfigs/NUTUnrealEngine4.ini
IntermediateCopy/Config/CoalescedSourceConfigs/OnlineSubsystem.ini
IntermediateCopy/Config/CoalescedSourceConfigs/OnlineSubsystemGooglePlay.ini
IntermediateCopy/Config/CoalescedSourceConfigs/OnlineSubsystemIOS.ini
IntermediateCopy/Config/CoalescedSourceConfigs/OnlineSubsystemNull.ini
IntermediateCopy/Config/CoalescedSourceConfigs/OnlineSubsystemSteam.ini
IntermediateCopy/Config/CoalescedSourceConfigs/OnlineSubsystemUtils.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Paper2D.ini
IntermediateCopy/Config/CoalescedSourceConfigs/PerforceSourceControl.ini
IntermediateCopy/Config/CoalescedSourceConfigs/PhysXVehicles.ini
IntermediateCopy/Config/CoalescedSourceConfigs/PIEPreviewSettings.ini
IntermediateCopy/Config/CoalescedSourceConfigs/PluginBrowser.ini
IntermediateCopy/Config/CoalescedSourceConfigs/ProceduralMeshComponent.ini
IntermediateCopy/Config/CoalescedSourceConfigs/ProxyLODPlugin.ini
IntermediateCopy/Config/CoalescedSourceConfigs/RuntimePhysXCooking.ini
IntermediateCopy/Config/CoalescedSourceConfigs/Scalability.ini
IntermediateCopy/Config/CoalescedSourceConfigs/SignificanceManager.ini
IntermediateCopy/Config/CoalescedSourceConfigs/SkeletalReduction.ini
IntermediateCopy/Config/CoalescedSourceConfigs/SourceControlSettings.ini
IntermediateCopy/Config/CoalescedSourceConfigs/SpeedTreeImporter.ini
IntermediateCopy/Config/CoalescedSourceConfigs/SubversionSourceControl.ini
IntermediateCopy/Config/CoalescedSourceConfigs/TcpMessaging.ini
IntermediateCopy/Config/CoalescedSourceConfigs/TemplateDefs.ini
IntermediateCopy/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
IntermediateCopy/Config/CoalescedSourceConfigs/UdpMessaging.ini
IntermediateCopy/Config/CoalescedSourceConfigs/UnitTest.ini
IntermediateCopy/Config/CoalescedSourceConfigs/UnitTestStats.ini
IntermediateCopy/Config/CoalescedSourceConfigs/UObjectPlugin.ini
IntermediateCopy/Config/CoalescedSourceConfigs/VariantManagerContent.ini
IntermediateCopy/Config/CoalescedSourceConfigs/VisualStudioCodeSourceCodeAccess.ini
IntermediateCopy/Config/CoalescedSourceConfigs/VisualStudioSourceCodeAccess.ini
IntermediateCopy/Config/CoalescedSourceConfigs/WindowsMoviePlayer.ini
IntermediateCopy/Config/CoalescedSourceConfigs/WmfMedia.ini
IntermediateCopy/Config/CoalescedSourceConfigs/XCodeSourceCodeAccess.ini
IntermediateCopy/ProjectFiles/Invaded.vcxproj
IntermediateCopy/ProjectFiles/Invaded.vcxproj.filters
IntermediateCopy/ProjectFiles/Invaded.vcxproj.user
IntermediateCopy/ProjectFiles/UE4.vcxproj
IntermediateCopy/ProjectFiles/UE4.vcxproj.filters
IntermediateCopy/ProjectFiles/UE4.vcxproj.user
IntermediateCopy/ReimportCache/3688439234.bin
IntermediateCopy/Staging/Invaded.exe
IntermediateCopy/Staging/Invaded.upluginmanifest
ProSoundCollectionV3.png
Gamemaster Audio - Pro Sound Collection v1.3 - 16bit 48k.zip
Import/Textures/.mayaSwatches/T_Hand_N.png_hcm.swatch
Import/Mesh/SM_RGX1450.fbx
Import/Mesh/SM_RGX1450.fbm/T_Hand_N.png
Import/Mesh/SM_Hand.fbx
Import/Mesh/SM_Hand.fbm/T_Hand_N.png
Import/Mesh/SM_Hand.fbm/.mayaSwatches/T_Hand_N.png_hcm.swatch
Import/Mesh/SM_Char3.fbx
Import/Mesh/SM_Char3.fbm/Torso3_Torso3_OcclusionRoughnessMetallic.tga
Import/Mesh/SM_Char3.fbm/Torso3_Torso3_Normal.tga
Import/Mesh/SM_Char3.fbm/Torso3_Torso3_BaseColor.tga
Import/Mesh/SM_Char3.fbm/T_Pants3_N.tga
Import/Mesh/SM_Char3.fbm/T_Pants3_D.tga
Import/Mesh/SM_Char3.fbm/T_Pants3_AO_MT_R.tga
Import/Mesh/SM_Char3.fbm/T_Char2_Boots_N.tga
Import/Mesh/SM_Char3.fbm/T_Char2_Boots_D.tga
Import/Mesh/SM_Char3.fbm/T_Char2_Boots_AO_MT_R.tga
Import/Mesh/SM_Char3.fbm/specular_cube.dds
Import/Mesh/SM_Char3.fbm/ibl_brdf_lut.dds
Import/Mesh/SM_Char3.fbm/Helmet3_Helmet3_OcclusionRoughnessMetallic.tga
Import/Mesh/SM_Char3.fbm/Helmet3_Helmet3_Normal.tga
Import/Mesh/SM_Char3.fbm/Helmet3_Helmet3_BaseColor.tga
Import/Mesh/SM_Char3.fbm/diffuse_cube.dds
Import/Mesh/SM_Char3.fbm/Armor3_Armor3_OcclusionRoughnessMetallic.tga
Import/Mesh/SM_Char3.fbm/Armor3_Armor3_Normal.tga
Import/Mesh/SM_Char3.fbm/Armor3_Armor3_BaseColor.tga
Import/Mesh/SM_RGX1450.fbx
Import/Mesh/SM_Hand.fbx
